SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback
SPOTIFY_CACHE_PATH=~/.config/wai-music/spotify_token.json

WAI_MUSIC_DB_PATH=~/.config/wai-music/cache.sqlite
WAI_MUSIC_PLAYLISTS_DIR=./playlists
WAI_MUSIC_DEFAULT_LANGUAGE=en
WAI_MUSIC_HOST=127.0.0.1
WAI_MUSIC_PORT=8765
WAI_MUSIC_PUBLIC_BASE_URL=
WAI_MUSIC_SECRET_KEY=
WAI_MUSIC_SESSION_COOKIE=wai_music_session

MUSICBRAINZ_USER_AGENT=wai-music/0.1 (+https://github.com/mikwiseman/wai-music)
